*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
header{
   background-color:blanchedalmond;
   padding: 34px 0;
}
nav{
    width: 100%;
   max-width: 1600px;
   max-height: 92px;
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.logonav{
    position: absolute;
    height: auto;
    left: 0px;
    width: 139px 60px;
    margin: 0px 20px 060px 0px ;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 28px;;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    align-items:;
}

.btn {
    display: inline-block;
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    margin: 8px;
}
.primary-btn {
    background: #2f855a;
    color: white;}